/* styles.css */
body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

header {
  background: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #ddd;
}
